<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>

</head>
<body>
    <h1>Car Record Keeper</h1>
        <form action="/addpost" method="POST">
            <input type="text" id="car_name" placeholder="car name" name="">
            <input type="text" id="car_model" placeholder="car model" name="birthName">
            <input type="text" id="car_color" placeholder="car color" name="birthName">
            <input type="text" id="car_number" placeholder="car number" name="birthName">
            <input type="text" id="owner_name" placeholder="owner name" name="birthName">
            <input type="submit">
        </form>


        <div>
            <h1>Cars Available</h1>
            <ul>
                <% for(let i  = 0; i<datas.length;  i++){%> 
                <li>
                    <span><%=datas[i].carName %></span>
                    <span><%=datas[i].carModel %></span>
                    <span><%=datas[i].carColor %></span>
                    <span><%=datas[i].carNumber %></span>
                    <span><%=datas[i].carOwnerName %></span> 
                    <i class="fa fa-thumbs-up"><%=datas[i].likes %></i>
                    <i class="fa fa-trash"></i>
                </li>
                <%  } %> 

            </ul>
        </div>

        <script type="module" src="/js/frontApp.js"></script>
</body>
</html>