<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Task List</title>
</head> -->
<body>
     <div class="taskListContainer">

            <ul>

                <% for (let i=0; i < info.length; i++) {%>
                    <div class="taskBoxes" id=<%=info[i].isComplete ? 'taskComplete' : '' %>>
                    <li >
                        <div class="taskNameDisplay">
                            <% if(info[i].taskName === null) {%>
                                <%= info[i].taskId %>
                            <% }else{ %>
                                <%= info[i].taskName %>
                            <% } %> 
                        </div>
                        <div class="taskDescriptionDisplay">
                            <%= info[i].taskDescription %>
                        </div>
                        <div class="taskButtonsContainer">
                            <span class="taskOptionsBtn taskComplete" id=<%=info[i].isComplete ? 'hideComplete' : '' %>>Complete</span>
                            <span class="taskOptionsBtn editTask">Edit</span>
                            <span class="taskOptionsBtn taskDelete">X</span>                
                        </div>
                    </li>    
                    </div>
                <% } %>
            </ul>
        </div>
    <span class="addTaskClick button-add testing">Add Task</span>

</body>
</html>