<%- include('../partials/header') -%>

<div class="container-fluid" align="center">
  <div class="card w-96 bg-accent shadow-xl" align="left">
    <div class="card-body">
      <h2 class="card-title"><%= expense.expense %></h2>
      <div>
        <ul>
          <li>Cost: $<%= expense.cost.toFixed(2) %></li>
          <li>Frequency:
            <% if (expense.frequency.num > 1) { %>
              Every <%= expense.frequency.num %> <%= expense.frequency.unit %>s
            <% } else if (expense.frequency.num === 1) { %>
              Every <%= expense.frequency.unit %>
            <% } %>
          </li>
          <li>Due Date: <%= expense.due %></li>
          <li>Category: 
            <% if (expense.category !== "") { %>
              <%= expense.category[0].toUpperCase() + expense.category.slice(1) %>
            <% } %>
          </li>
          <li>Source of Funds: <%= expense.fundsSource %></li>
          <li>Notes: <%= expense.notes %></li>
        </ul>
      </div>
        <div class="card-actions justify-end">
          <div>
            <a href="/expense/<%=expense.id%>/edit" class="btn btn-primary">Edit</a>
          </div>
          <div>
            <form
              action="/expense/<%= expense.id %>/deleteExpense?_method=PUT"
              method="POST"
            >
              <button class="btn btn-accent" type="submit">Delete</button>
            </form>
          </div>
          
        </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') -%>
<%- include('../partials/nav_bottom') -%>