<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = 'stylesheet' href = '/css/copy.css'>
</head>
<body>
    <header class = 'flex'>
    <h1>Fate Grand Order Servants</h1>
    <nav>
        <ul class = 'flexbox'>
            <li><a href = '/' class = 'data'>Home</a></li>
            <li><a href = '/servants' class = 'data'>Add Servant</a></li>
            <li><a href = '/data' class = 'data'>Servant Data</a></li>
            <li><a href = '/data/comments' class = 'data'>Comments</a></li>
            <li><a href = '/fate' class = 'data'>Simulator</a></li>
        </ul>
    </nav>
    </header>
  
<% for(let i=0; i < info.length; i++) {%>
    <% if(info[i].name!==null && info[i].attackGrail!==null && info[i].healthGrail!==null && info[i].class!==null) {%>   

    <section class = 'box servant servants'>
    <div class = 'flex info'>
    <h2>Name: </h2> <span><%= info[i].name %></span>
    <h2>Gender: </h2> <span><%= info[i].gender %></span>
    <h2>ID: </h2> <span><%= info[i].servantID %></span>
    <h2>Class:</h2>  <span><%= info[i].class %></span>
    <h2>Rarity: </h2> <span><%= info[i].rarity %></span>
    <h2>Star Absorption:</h2><span><%= info[i].starAbsorption %></span>
    <h2>Star Generation:</h2><span><%= info[i].starGeneration %></span>
    <h2>Death Rate:</h2><span><%= info[i].deathRate %></span>
    <h2>Alignments:</h2><span><%= info[i].alignments %></span>
    </div>
    <img class = 'servantImage' src = <%= info[i].image %> >
    <div class = 'flex stats'>
        <div class = 'row flexbox justifyContent alignItems icons'>
            <img src = "/trash (2).png" class = 'delete'>
     <img src = '/likes.png' class = 'likes'> 
     <div class = 'flexbox justifyContent alignItems'><span><%= info[i].likes %></span></div>
            </div>
    <h2>Max Attack: </h2> <span><%= info[i].attack %></span>
    <h2>Max Attack At Lv 100: </h2> <span><%= info[i].attackMax %></span>
    <h2>Max Attack At Lv 120: </h2> <span><%= info[i].attackGrail %></span>
    <h2>Max Health: </h2> <span><%= info[i].health %></span>
    <h2>Max Health At Lv 100: </h2> <span><%= info[i].healthMax %></span>
    <h2>Max Health At Lv 120: </h2> <span><%= info[i].healthGrail %></span>
    <h2>Cost: </h2> <span><%= info[i].cost %></span>
    <h2>NP Charge:</h2><span><%= info[i].npCharge %></span>
    <h2>NP Attack:</h2><span><%= info[i].npAttack %></span>
    </div>
</section>

<section class = 'flexbox column alignItems form'>
<div class = 'flexbox column alignItems'>
    <a href= <%= info[i].name %>><%= info[i].name %></a>
    <p><%= info[i].class %></p>
    <form action="/comments" method="POST" class = 'flexbox column alignItems'>
        <input name="comments" placeholder="Add Comment Here"></input>
        <button type="submit">Post</button>
    </form>
</div>
</section>
<% } %>
<% } %>
  
<footer class = 'flexbox' id = 'footer'>
    <small class = 'flexbox justifyContent alignItems'>Illya Fansite &copy; choir</small>
      <nav class= "flexbox">
          <ul class = 'flexbox'>
            <li><a href = '/' class = 'data'>Home</a></li>
            <li><a href = '/servants' class = 'data'>Add Servant</a></li>
            <li><a href = '/data' class = 'data'>Servant Data</a></li>
            <li><a href = '/data/comments' class = 'data'>Comments</a></li>
            <li><a href = '/fate' class = 'data'>Simulator</a></li>
  </ul>
  </nav>
  </footer>


    <script src = '/js/copy.js'></script>

</body>
</html>