<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/68de1d0260.js" crossorigin="anonymous"></script>
    <title>Student Driver - Hours Log</title>
</head>
<body class="basics">

    <header class="header">
        <h1 class="logo"><span class="text-accent"> - </span><span class="text-neutral"> - </span>SuperDrip<span class="text-neutral"> - </span><span class="text-accent"> - </span></h1>
        <a href="/logout" class="redBtn justify-self-end">Log Out</a>
    </header>

    <section class="currentHours flex flex-row items-center p-2 bg-mid h-10 rounded-md">
        <section class="w-1/2">
            <h3 class="title">Welcome <%= user.userName %></h3>
        </section>
        <section class="w-1/2">
            <h3 class="title">Dashboard</h3>
        </section>
    </section>
    
    <section class="flex flex-row w-4/5">

        <section class="w-3/4 flex flex-row justify-around">
            <% let cumulative = 0 %>
            <% DrivingHours.forEach(item => cumulative+= item.totalHours) %>
            <p>Total hours driven: <%= cumulative %></p>
            <% let addNight = 0 %>
            <% DrivingHours.forEach(item => addNight+= item.nightHours) %>
            <p>Total hours driven at night: <%= addNight %></p>
            <% let addHwy = 0 %>
            <% DrivingHours.forEach(item => addHwy+= item.hwyHours) %>
            <p>Total hours driven on the highway: <%= addHwy %></p>
        </section>

        <section class="flex flex-col w-1/2">
            <h2>Past Lessons:</h2>
            <ul>
                <% DrivingHours.forEach(item => {%>
                <li class="hours-list-item p-1 flex flex-row justify-between">
                        <%= moment(item.date).format( 'MMMM DD, YYYY') %>
                        <%= item.totalHours %>
                        <%= item.nightHours %>
                        <%= item.hwyHours %>
                        <%= item.instructor %>
                        <%= item.note %>
                        <a href="/edit/<%=item._id %>" class="edit"><span class="fas fa-edit text-green-600"></span></a>
                        <a href="/edit/remove/<%=item._id %>" class="remove"><span class="fas fa-trash-can text-accent"></span></a>
                </li>
                <% }) %>
            </ul>
        </section>

        <section class="flex flex-col w-1/2">
            <h2>Add new lesson:</h2>

            <form action="/dashboard" method="POST" class="hours-header flex flex-col flex-nowrap space-y-1">
                <label for="totalHours">Total hours driven this session:</label>
                <input type="number" class="showText" min= "1" name="totalHours" id="total">
                <label for="nightHours">Total hours driven at night:</label>
                <input type="number" class="showText" min= "0" name="nightHours" id="night">
                <label for="hwyHours">Total hours driven on the highway:</label>
                <input type="number" class="showText" min= "0" name="hwyHours" id="hwy">
                <label for="instructor">Instructor:</label>
                <input type="text" class="showText" name="instructor" id="instructor">
                <label for="note">Session Note:</label>
                <textarea class="showText" rows= "8" columns="60" name="note" id="note" placeholder="Notes about maneuvers practiced, which need more practice, etc:"></textarea>
                <button type="submit" class="blueBtn">Submit</button>
            </form>

        </section>
    </section>
    
    <footer class="footer">
        SuperDrip &copy; 2022
    </footer>
</body>
</html>