<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit List Item</title>
    <!-- Google Font (Optional)-->
    <!--ICONS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Style Sheet Link-->
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<!-- For Todo list -->
    <section class ='todo-container'>
    <h2>Edit Item</h2>
    <section class ='todo'>
        <ul class="todo-list">
            <% todoTasks.forEach(task => {%>
                <% if (task._id==idTask) { %>
                    <li class = 'todo-list-item'>
                        <form action="/edit/<%= task._id %>" method = "POST">
                                <input type="text" name="title" value="<%= task.title %>">
                                <textarea name="content" cols="45" rows="6"><%= task.content %></textarea>
                                <button type="submit" class="confirm">Confirm</button>
                                <a href="/" class="cancel">Cancel</a>
                        </form>
                    </li>             
                    <%}else{%>
            <li class="todo-list-item">
                <div class="todo-list-item-title"><%= task.title %></div>
                <div class="todo-list-item-title"><%= task.content %></div>
                <a href="/edit/<%=task._id%>" class="edit">
                    <span class="fas fa-edit"></span>
                </a>
                <a href="/remove/<%=task._id%>" class="remove">
                    <span class="fas fa-trash"></span>
                </a>
            </li>
           <% } %>
           <% }) %>
        </ul>
    </section>
    </section>

</body>
</html>