<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/68de1d0260.js" crossorigin="anonymous"></script>
    <title>Student Driver - Hours Log</title>
</head>
<body>
    <section class="hours-container">
        <h2>Driving Hours Log - Edit</h2>
        <section class="hours">

            <ul>
                <% DrivingHours.forEach(item => {%>
                    <% if (item._id == idHours) { %>
                        <li class="hours-list-item">
                            <form action="/edit/<%= item._id %>" method="post">
                                <label for="totalHours">Total hours driven this session:</label>
                                <input type="number" min= "1" name="totalHours" id="total" value="<%= item.totalHours %>">
                                <label for="nightHours">Total hours driven at night:</label>
                                <input type="number" min= "0" name="nightHours" id="night" value="<%= item.nightHours %>">
                                <label for="hwyHours">Total hours driven on the highway:</label>
                                <input type="number" min= "0" name="hwyHours" id="hwy" value="<%= item.hwyHours %>">
                                <label for="instructor">Instructor:</label>
                                <input type="text" name="instructor" id="instructor" value="<%= item.instructor %>">
                                <label for="note">Session Note:</label>
                                <textarea rows= "8" columns="60" name="note" id="note" value="<%= item.note %>"></textarea>
                                <button type="submit" class="confirm">Confirm</button>
                                <a href="/" class="cancel">Cancel</a>
                            </form>
                        </li>
                        <% } else { %>
                                <li class="hours-list-item">
                                    <div class="hours-list-item-total">
                                        <%= moment(item.date).format( 'MMMM DD, YYYY') %>
                                        <%= item.totalHours %>
                                        <%= item.nightHours %>
                                        <%= item.hwyHours %>
                                        <%= item.instructor %>
                                        <%= item.note %>
                                    </div>
                                </li>
                                <% } %>
                                <% }) %>
        </section>
    </section>
</body>
</html>