<!DOCTYPE html>

<head>
    <title>My Meal Planner</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <section class="todo-container">
        <h2>Edit Meal</h2>
        <section class="todo">
            <ul class="todo-list">
                <% todoTasks.forEach(task=> { %>
                    <% if (task._id==idTask) { %>
                        <li class="todo-list-item">
                            <form action="/edit/<%= task._id %>" method="POST">
                                <input type="text" value="<%= task.title %>" name="title">
                                <textarea rows="6" cols="45" name="content"><%= task.content %></textarea>
                                <button type="submit" class="confirm">Confirm</button>
                                <a href="/" class="cancel">Cancel</a>
                            </form>
                        </li>
                        <% } else { %>
                            <li class="todo-list-item">
                                <div class="todo-list-item-title">
                                    <%= task.title %>
                                </div>
                                <div class="todo-list-item-content">
                                    <%= task.content %>
                                </div>
                                <a href="/edit/<%= task._id %>" class="edit"> <span class="fas fa-edit"></span>
                                </a>
                                <a href="/remove/<%= task._id %>" class="remove"> <span class="fas fa-times"></span>
                                </a>
                            </li>
                            <% } %>
                                <% }) %>
            </ul>
        </section>
    </section>
</body>