<%- include('partials/head.ejs') %>

<body class="basics">
    <header class="header">
        <h1 class="logo mx-auto"><span class="text-accent"> - </span><span class="text-neutral"> - </span><a href="/">SuperDrip</a><span class="text-neutral"> - </span><span class="text-accent"> - </span></h1>
        <% if(typeof user != 'undefined') { %>
            <a href="/logout" class="redBtn">Log Out</a>
        <% } else { %>
            <a href="/login" class="blueBtn"> Login</a>
        <% } %>
    </header>

    <section class="welcome">
        <h3 class="title">Welcome <%= user.userName %> - Edit Lesson</h3>
    </section>

    <section class="hours flex justify-center items-center">
        <% DrivingHours.forEach(item => {%>
            <% if (item._id == idHours) { %>
                <form action="/edit/<%= item._id %>" method="post" class="flex flex-col w-1/2 space-y-1">
                    <label for="totalHours">Total hours driven this session:</label>
                    <input type="number" class="showText" min= "0" step=".25" max="24" name="totalHours" id="total" value="<%= item.totalHours %>">
                    <label for="nightHours">Total hours driven at night:</label>
                    <input type="number" class="showText" min= "0" step=".25" max="24" name="nightHours" id="night" value="<%= item.nightHours %>">
                    <label for="hwyHours">Total hours driven on the highway:</label>
                    <input type="number" class="showText" min= "0" step=".25" max="24" name="hwyHours" id="hwy" value="<%= item.hwyHours %>">
                    <label for="instructor">Instructor:</label>
                    <input type="text" class="showText" name="instructor" id="instructor" value="<%= item.instructor %>">
                    <label for="note">Session Note:</label>
                    <textarea rows= "8" class="showText resize-none" columns="60" name="note" id="note" value="<%= item.note %>"></textarea>
                    <section class="flex flex-row space-x-3">
                        <button type="submit" class="confirm blueBtn">Confirm</button>
                        <a href="/dashboard" class="cancel redBtn">Cancel</a>
                    </section>
                </form>
            <% } %>
        <% }) %>
    </section>

    <%- include('partials/footer.ejs') %>