<!-- displays emotion details after clicking on this weeks emotions from the home page  -->

<% if(emotion != null) { %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <%- emotion.name %>
      </li>
    </ol>
  </nav>
  <section class="row">
    <section class="col-1 col-md-4">
      <img
        src="/uploads/<%-emotion.image%>"
        class="img-fluid sticky-top emotImage"
        style="top: 50px"
        alt="<%- emotion.name %>"
        loading="lazy"
      />
    </section>
    
    <section class="col-12 col-md-8">
      <section class="row">
        <section class="col-12">
         
          <h2 class ='userInputs emotion-headers' contenteditable="false" ><%- emotion.name %></h2>
        </section>
        <section class="col-12 mb-4">
          <i class="bi bi-tag"></i> 
          <%- emotion.category %>
        </section>
        <section class="col-12" style="white-space: pre-line ">
          <h4 class="border-bottom border-secondary emotion-headers">Describe Emotion</h4>
        
          <p contenteditable="false" class ='userInputs '><%- emotion.description %></p>
     
        </section>
      </section>
      <section class="row pt-4">
        <section class="col-12">
          <h4 class="border-bottom border-secondary emotion-headers">Feelings</h4>
          <ul class="list-group list-group-flush">
            <% emotion.feelings.forEach(function(feeling, index){%>
            <li class="list-group-item editfields">
              <p contenteditable="false" class ='userInputs'><%- feeling %></p>
            </li>
            <% }) %>
          </ul>
          
        </section>
      </section>
      <section class="row pt-4">
        <section class="col-12">
          <h4 class="border-bottom border-secondary mw-50 emotion-headers">Record you actions</h4>
          <ul class="list-group list-group-flush">
            <% emotion.actions.forEach(function(action, index){%>
            <li class="list-group-item editfields">
              <p contenteditable="false" class ='actionInputs'><%- action %></p>
            </li>
            <% }) %>
          </ul>
        </section>
      </section>
     
      <section class="col-12">
        <button
          type="button"
          class="btn btn-outline-dark editEmotionsBtn"
   
        >
       Edit
        </button>
        <button
        type="button"
        class="btn btn-outline-dark updateEmotionsBtn"
      
      >
     Update
      </button>
      <button
      
      type="button"
      class="btn btn-outline-dark deleteEmotionsBtn"
    >
  Delete
    </button>
      </section>
    </section>
  </section>
  <% } else { %>
  <p>No item found.</p>
  <% } %>