<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Shakespearean Quote Finder</title>
</head>
<body>
  <h1>Search for quotes in Shakepeare's works</h1>
  <h2>Contains plays and poems</h2>

  <form action="/api">
    <label for="searchTextInput">Search</label>
    <input type="text" id="searchTextInput" name="searchText" placeholder="Enter a word, or quote here" required>
    <button>Submit</button>
  </form>
  <ul>
    <% for (let quote of quotes) { %>
      <li>
        <h3><%=quote.title === "THE SONNETS"? quote.title +' '+quote.act : quote.title%></h3>
        <h4><%=quote.title === "THE SONNETS"? '': quote.act %> <%=quote.scene%><h4> 
        <h4>By <%= quote.character %></h4>
        <p><%-quote.line%></p>
      </li>
    <% }%>
  </ul>
</body>
</html>