<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit Journal App</title>
    <!--GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <!--ICONS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--STYLESHEET LINK-->
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <section class="workout-container">
        <h2>Fitness Journal</h2>
        <section class="workout">

            <h3>Cardio</h3>

                <form action="/" method="POST" class="workout-header">

                    <input type="date" name="date">

                    <input type="text" name="location" placeholder="Location">

                    <select name ="sport" id="sport">
                        <option value="Run">Run</option>
                        <option value="Bike">Bike</option>
                    </select>

                    <input type="text" name="time" placeholder="00:00:00">

                    <input type="text" name="distance" placeholder="Distance">

                    <select name ="unit" id="unit">
                        <option value="mi">mi</option>
                        <option value="km">km</option>
                    </select>

                    <button type="submit">
                        <span class="fas fa-plus"></span> Submit Cardio
                    </button>

                </form>

                <ul class="cardio-list">
                    <% journalEntries.forEach(entry => {%>
                    <li class="cardio-list-item">

                        <div class="cardio-list-item-date">
                            <%= entry.date %>
                        </div>
                        <div class="cardio-list-item-location">
                            <%= entry.location %>
                        </div>
                        <div class="cardio-list-item-sport">
                            <%= entry.sport %>
                        </div>
                        <div class="cardio-list-item-time">
                            <%= entry.time %>
                        </div>
                        <div class="cardio-list-item-distance">
                            <%= entry.distance %>
                            <%= entry.unit %>
                        </div>

                        <div>
                        <a href="/edit/<%=entry._id %>" class="edit">
                        <span class="fas fa-edit"></span>
                        </a>

                        <a href="/remove/<%=entry._id %>" class="delete">
                        <span class="fas fa-times"></span>
                        </a>
                    </div>
                    
                    </li>
                    <% }) %>
                </ul>
        </section>
    </section>
    
</body>
</html>