<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon Tracker</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
  <h1>Pokemon Starting Five</h1>
  <h2>Add your starters or reserves and keep track of them here!
  </h2>

  <h2>Starting Five: </h2>
  <form action="/add/starter" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="e.g Charizard">
    <label for="currentLevel">Level</label>
    <input type="number" name="currentLevel" class="currentLevel" max="100" min="1" value="1">
    <button type="submit">Add Pokemon</button>
  </form> 

  <ul id="starters">
    <% starters.forEach(starter => { %>
      <li class="starter-item">
        <div class="starter-item-title">
          Name: <%= starter.name %>
        </div>
        <div class="starter-item-level">
          Level: <%= starter.currentLevel %>
        </div>
        <div>

          <a href="/edit/starter/<%= starter._id %>" class="edit">
            <span class="fas fa-edit"></span>
          </a>
          <a href="/remove/starter/<%= starter._id %>" class="remove">
            <span class="fas fa-times"></span>
          </a>

        </div>
      </li>
    <% }) %>
  </ul>

  <h2>Reserves: </h2>
  <form action="/add/reserve" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="e.g Blastoise">
    <label for="currentLevel">Level</label>
    <input type="number" name="currentLevel" class="currentLevel" max="100" min="1" value="1">
    <label for="boxNumber">Box Number</label>
    <input type="number" name="boxNumber" id="box" min="1" value="1">
    <button type="submit">Add Pokemon</button>
  </form> 


  <ul id="reserves">
    <% rest.forEach(reserve => { %>
      <li class="reserve-item">
        <div class="reserve-item-title">
          Name: <%= reserve.name %>
        </div>
        <div class="reserve-item-level">
          Level: <%= reserve.currentLevel %>
        </div>
        <div class="reserve-item-box">
          Box No. <%= reserve.boxNumber %>
        </div>
        <div>

          <a href="/edit/reserve/<%= reserve._id %>" class="edit">
            <span class="fas fa-edit"></span>
          </a>
          <a href="/remove/reserve/<%= reserve._id %>" class="remove">
            <span class="fas fa-times"></span>
          </a>

        </div>
      </li>
    <% }) %>
  </ul>



  <script src="js/main.js"></script>
</body>
</html>