<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    <!-- Some google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Med Tracker</title>
</head>

<header class="parent">

    <h1>MedMinder v1</h1>

<nav>
        <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="/medMinder">Current Medications</a></li>
        </ul>
    </nav>
    
</header>


<body>
    <section class="parent">
    <section class="container">

        <h1>Current Medications</h1>

    <ul class="meds">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="med">
            <span><%= info[i].medName %></span>
            <span><%= info[i].doseAmt %></span>
            <span><%= info[i].doseFreq %></span>
            <span><%= info[i].doseDay %></span>
            <span><%= info[i].confirm %></span>
            <span title="Edit this Medication" class='fa fa-edit'></span>
            <span ttile="Delete this Medication"class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add A Medication:</h2>

    <form action="/addMed" method="POST">
        <input type="text" placeholder="Medication Name" name="medName">
        <input type="text" placeholder="Dosage" name="doseAmt">
        <input type="text" placeholder="Frequency" name="doseFreq">
        <input type="select" placeholder="Day" name="doseDay">
        <input type="submit" title="Add a Medication" value="Add Medication">
    </form>

    

    </section>

    <section class="aside">
        <h2>How to use:</h2>
        <p>Enter the details of the medication you would like to add to your list into the "Add Medication" form.</p>
        <p>If you need to change details of a specific medication, enter the new details into the form, and then click the "Edit" key next to the medication you would like updated.</p>
    </section>
    <div id="grid-col 4-3">
        <thead>Month</thead>
        <div class="cell">Mon</div> <div class="cell">Thu</div>
        <div class="cell">Tue</div> <div class="cell">Fri</div>
        <div class="cell">Wed</div> <div class="cell">Sat</div>
      </div>
</section>

<section class="caledar">
    <table>
        <tr></tr>
        <td></td>
    
    </table>
</section>


<footer>
    <h3>Here's where the footer will go. Maybe a nav? Copyright? </h3>
</footer>
    

    <script src='js/main.js'></script>
</body>
</html>
