<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
    <title>Task Tracker</title>
</head>

<body>

    <div class="container">
        
        <!-- <%-include("../views/partials/mainLeft.ejs") %> -->
        <div class="main">
            <%-include("../views/partials/mainMenu.ejs") %>
            
            <%-include("../views/partials/addForm.ejs") %>
            <%-include("../views/partials/tasklist.ejs") %>
            <%-include("../views/partials/editForm.ejs") %>
        </div>
        <%-include("../views/partials/mainRight.ejs") %>
    </div>
    <script src="js/main.js"></script>
</body>

</html>