<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>
    
    <div class="create-blog content">
    <h1>Update This Bloog!</h1>
        <form action="/blogs/update-blog/<%= blog._id%>" method="POST">
            <label for="title">Bloog title:</label>
            <input type="text" id="title" name="title" value="<%= blog.title%>"  required>
            <label for="snippet">Bloog snippet:</label>
            <input type="text" id="snippet" name="snippet" value="<%= blog.snippet%>"  required>
            <label for="body">Bloog body:</label>
            <textarea type="text" id="body" name="body" cols="50" rows="20" required><%= blog.body%></textarea>
            <button>Update Bloog</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>