<!--include header-->
<%-include('include/_header')%>
<!--/include header-->

<!--main site-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fa-solid fa-cart-shopping"></i>All Items</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update item</h2>
            <span class="text-light form-span">Use the below form to update an item</span>
        </div>

        <!--form handling-->
    <form method="POST" id="update_item" action="/api/item/<%= item._id %>">
        <div class="new_item">
            <div class="form-group">
                <label for="item" class="text-light">Item</label>
                <input type="hidden" name="id" value="<%= item._id%>">
                <input type="text" name="item" value="<%= item.item%>" placeholder="Eggs">
            </div>
            <div class="form-group">
                <label for="category" class="text-light">Category</label>
                <input type="text" name="category" value="<%= item.category%>" placeholder="Dairy">
            </div>

            <div class="form-group">
                <label for="quantity" class="text-light">Quantity</label>
                <input type="text" name="quantity" value="<%= item.quantity%>" placeholder="One carton">
                
            </div> 
            <div class="form-group">
                <button type="submit" class="btn-text-dark update" id="submit-btn">Save</button>
            </div>
        </div>
    </form>
        </div>
</main>


<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->
